*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn {
  border: none;
  background-color: transparent;
}

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border: 1px solid hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-size: 7.5rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 300;
  padding: 5rem;
  font-family: "Josefin Sans", sans-serif;
}

.heading-secondary {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: hsl(0deg, 0%, 0%);
  margin-bottom: 3rem;
}

@media screen and (min-width: 1440px) {
  .heading-primary {
    width: 50%;
    transform: translate(-80%, -33%);
  }

  .heading-secondary {
    text-align: left;
  }
}
.btn-primary {
  display: inline-block;
  border: 2px solid hsl(0deg, 0%, 41%);
  padding: 1.5rem 6rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  word-spacing: 1rem;
  color: hsl(0deg, 0%, 0%);
  transition: all 0.2s ease-in;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

@media screen and (min-width: 1440px) {
  .btn-primary {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.footer {
  background-color: hsl(0deg, 0%, 0%);
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.footer-top, .footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.footer-top {
  gap: 5rem;
}
.footer-bottom {
  gap: 2rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer__link-item {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.6rem;
  position: relative;
}
.footer__link-item::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -30%;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
}
.footer__link-item:hover::after {
  display: block;
}

.socials {
  display: flex;
  gap: 2rem;
}
.socials__item {
  position: relative;
}
.socials__item::after {
  content: "";
  display: none;
  position: absolute;
  bottom: -30%;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: hsl(0deg, 0%, 100%);
}
.socials__item:hover::after {
  display: block;
}

.copyright {
  color: hsl(0deg, 0%, 55%);
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 5rem 10%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-top, .footer-bottom {
    gap: 2rem;
  }
  .footer-top {
    align-items: flex-start;
  }
  .footer-bottom {
    align-items: flex-end;
  }
  .footer__links {
    flex-direction: row;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 130rem;
  background: url("../images/mobile/image-hero.jpg") center/cover no-repeat;
}

@media screen and (min-width: 1440px) {
  .header {
    height: 65rem;
    background: url("../images/desktop/image-hero.jpg") center/cover no-repeat;
  }
}
.main {
  padding: 20rem 0;
  width: 100%;
  overflow: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.brand {
  width: 100%;
  margin-bottom: 20rem;
}
.brand__hero {
  width: 100%;
  margin-bottom: 10rem;
}
.brand__hero-img {
  width: 100%;
}
.brand__content {
  padding: 0 3rem;
}
.brand__msg {
  color: hsl(0deg, 0%, 41%);
  text-align: center;
  line-height: 1.5;
  font-size: 2.7rem;
}

.work {
  width: 100%;
  text-align: center;
}
.work .heading-secondary {
  margin-bottom: 10rem;
}

.creations {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 7rem;
  margin-bottom: 7rem;
}

.creation {
  width: 100%;
  position: relative;
}
.creation:hover .creation__img {
  opacity: 0.5;
  cursor: pointer;
}
.creation:hover .creation__text {
  color: hsl(0deg, 0%, 0%);
}
.creation__img {
  width: 100%;
  transition: all 0.3s ease-in;
}
.creation__text {
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 15rem 0;
  }

  .brand {
    position: relative;
  }
  .brand__hero {
    width: 65%;
  }
  .brand__content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 65%;
    background-color: hsl(0deg, 0%, 100%);
    padding: 10rem;
  }
  .brand__msg {
    text-align: left;
    font-size: 1.9rem;
  }

  .work {
    position: relative;
  }

  .creations {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    margin-bottom: 0;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 15rem;
  margin: 0 auto;
}
.nav .logo-box {
  z-index: 2;
}
.nav__items {
  list-style-type: none;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg, 0%, 0%);
  padding-left: 10%;
}
.nav__items.active {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}
.nav__link {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
}
.nav__btn {
  z-index: 2;
  border: none;
  background-color: transparent;
}
.nav__btn:hover {
  cursor: pointer;
}
.nav__btn .close {
  display: none;
}
.nav__btn.active .open {
  display: none;
}
.nav__btn.active .close {
  display: block;
}

@media screen and (min-width: 1440px) {
  .nav__items, .nav__items.active {
    background-color: transparent;
    padding-left: 0;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .nav__link {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    position: relative;
  }
  .nav__link::after {
    content: "";
    display: none;
    position: absolute;
    bottom: -30%;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: hsl(0deg, 0%, 100%);
  }
  .nav__link:hover::after {
    display: block;
  }
  .nav__btn, .nav__btn.active {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
