$primaryWhite: hsl(0, 0%, 100%);
$primaryBlack: hsl(0, 0%, 0%);
$primaryGray: hsl(0, 0%, 55%);
$secondaryGray: hsl(0, 0%, 41%);

$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
